@using Homestead.Client.ViewModels
@inject LobbyVm Lobby

<div>
    <!-- Visuals -->
    <div class="" style="min-width: 600px; min-height:210px; margin-top:20px; margin-left:10px;">
        <div style="font-size:2em; float:left;">
            <div style="min-width:50px; display: inline-block;">
                @if (Player.IsCurrentPlayer)
                {
                    if (Lobby.Board.WinningPlayer == Player)
                    {
                        <span>🏆</span>
                    }
                    else
                    {
                        <span>🚩</span>
                    }
                }
            </div>
            <span>@Player.PlayerNumber: @Player.Player.Name</span>
        </div>
        <div style="float:none;">
            <!-- House -->
            <span class="home" style="min-width:200px; min-height: 200px;">
                <img height="200" src="/Assets/Images/house/house@(Player.BoardHouse.Count()).png" />
            </span>
            <!-- Player -->
            <span class="player" style="width:200px; height: 200px;">
                <img style="" height="70" src="@Player.GetImageUrl()" />
            </span>
            <!-- Garden -->
            <span class="garden" style="width:200px; height: 200px;">
                <img height="200" src="/Assets/Images/garden/garden@(Player.BoardGarden.Count()).png" />
            </span>
        </div>
    </div>
    <!-- Card Slots -->
    <div class="container">
        <div class="PlayerBoard" style="min-height:100px; min-width: 600px;">
            <!-- House Cards -->
            <div style="display:inline-block; min-height:100px; min-width: 300px;">
                @foreach (var card in Player.BoardHouse)
                {
                    <div class="board-card" style="display:inline-block;">
                        <PlayerCard Card="@card" />
                    </div>
                }

            </div>
            <!-- Farm Cards -->
            <div style="display:inline-block; min-height:100px; min-width: 300px;">
                @foreach (var card in Player.BoardGarden)
                {
                    <div class="board-card" style="display:inline-block;">
                        <PlayerCard Card="@card" />
                    </div>
                }
                <!-- Livestock Cards -->
                @foreach (var card in Player.BoardLivestock)
                {
                    <div class="board-card" style="display:inline-block;">
                        <PlayerCard Card="@card" />
                    </div>
                }
            </div>
        </div>
    </div>
    <style>

    </style>
</div>

@code {
    [Parameter]
    public PlayerVm Player { get; set; } = null!;

    //public List<CardInfo> BoardLivestock { get => Player.BoardBySuit(CardInfo.CardSuit.LiveStock).Select(card => Cards.GetCardInfo(card)).ToList(); }
    //public List<CardInfo> BoardGarden { get => Player.BoardBySuit(CardInfo.CardSuit.Garden).Select(card => Cards.GetCardInfo(card)).ToList(); }
    //public List<CardInfo> BoardHouse { get => Player.BoardBySuit(CardInfo.CardSuit.House).Select(card => Cards.GetCardInfo(card)).ToList(); }

    protected override void OnInitialized()
    {
        Console.WriteLine($"Player {Player.PlayerNumber}");
    }


}
